---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: naveen
  labels:
    app: frontend
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
  spec:
    containers:
      - name: frontend-container
      - image: cloudacademydevops/frontend:v11
      - imagePullPolicy: Always
    env:
    - name: REACT_APP_APIHOSTPORT
      value: $API_ELB_PUBLIC_FQDN
    ports:
    - containerPort:: 8080
    livenessProbe:
          httpGet:
            path: /ok
            port: 8080
          initialDelaySeconds: 2
          periodSeconds: 5
    readinessProbe:
          httpGet:
             path: /ok
             port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
          successThreshold: 1



